// UCLA Anderson branding colors
$link-color: #2774AE;        // UCLA Blue
$btn-primary-color: #2774AE;
$heading-color: #003B5C;     // UCLA Darker Blue
$nav-child-link-color: #2774AE;
$search-result-preview-color: #555;
